.intro-message {
	color: #FFF;
	text-align: center;
	padding-top: 20%;
	padding-bottom: 10%;
}
body {
	background: url(intro-bg.jpg) no-repeat center center;
}
.signup-form {
	color: white;
	text-align: center;
}