.intro-message {
	color: #363636;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}
body {
	background: url(intro-bg2.jpg) no-repeat center center;
}
.signup-form {
	color: white;
	text-align: center;
}
.email {
	color: black;
}